<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Projects</title>
    <link rel="icon" href="../../images/Screenshot 2022-08-11 130656.png">
    <link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Aclonica&amp;display=swap">
    <link rel="stylesheet" href="assets/fonts/font-awesome.min.css">
    <link rel="stylesheet" href="assets/fonts/material-icons.min.css">
    <link rel="stylesheet" href="assets/css/Material-Card-.css">
    <link rel="stylesheet" href="assets/css/Navbar-Centered-Links-icons.css">
    <link rel="stylesheet" href="assets/css/Recipe-Card.css">
    <link rel="stylesheet" href="assets/css/Responsive-UI-Card-02.css">
    <link rel="stylesheet" href="assets/css/Video-Parallax-Background-v2-multiple-parallax.css">
    <link rel="stylesheet" href="assets/css/Video-Responsive.css">
</head>

<body>
    <nav class="navbar navbar-light navbar-expand-md py-3" >
        <div class="container" >
            <a class="navbar-brand d-flex align-items-center" href="#home">
               <img src="../../images/Screenshot 2022-08-11 130656.png" alt="logo" height="50px" width="50px">
            </a>
                    <button data-bs-toggle="collapse" class="navbar-toggler" data-bs-target="#navcol-3"><span class="visually-hidden">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
            <div class="collapse navbar-collapse" id="navcol-3">
                <ul class="navbar-nav mx-auto">
                    <li class="nav-item"><a class="nav-link active" href="#landme" style="color:cyan;">Training-platforms</a></li>
                    <li class="nav-item"><a class="nav-link" href="#landme" style="color:cyan;">Books</a></li>
                    <li class="nav-item"><a class="nav-link" href="#landme" style="color:cyan;">General Resources</a></li>
                    <li class="nav-item"><a class="nav-link" href="./all-directories/portfolio-project-export/index.html" style="color:cyan;">Projects</a></li>
                    <!-- </ul><button class="btn btn-warning" type="button">Home</button> -->
            </div>
        </div>
    </nav>


    <section style="padding-top: 120px;">
        <h1>Reverse-shell-generator</h1>
        <div class="container">
            <div class="row">
                <div class="col-md-4" style="width: 355px;">
                    <div class="blog-card blog-card-blog" style="width: 342.6px;">
                        <div class="blog-card-image"><a href="#"><img class="img-fluid img" src="https://camo.githubusercontent.com/9c1bce57bb8de6b624ea1bb76d6ec90e632402fc434493b2520ff3955e6ed17c/68747470733a2f2f6e756c6c736563746f722e636f2f77702d636f6e74656e742f75706c6f6164732f323031372f31322f426173682d6e65772e73685f2e706e67" /></a>
                            <div class="ripple-cont"></div>
                        </div>
                        <div class="blog-table" style="width: 343.6px;">
                            <p style="font-weight: bold;" >Clone Here</p>
                            <p><br/>https://github.com/sujayadkesar/reverse-shell-generator<br /><br /></p>
                            <p style="font-weight: bold;" >Reverse shell generator { rsg }</p>
                            <p><br />A python based tool which dynamically generate the reverse shell payload which is required to take over the target system after post exploitation phase  in most of the scenarios in day to day life for a cybersecurity researcher or the penetration tester 🛡️💻 <br /></p>
                            <hr />
                            <h4 class="blog-card-caption" style="margin: -31px 0px 8px;margin-bottom: -6px;margin-top: -26px;"></h4>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
   
    <div style="padding-top: 200px;">
        <div class="parallax">
            <div class="container d-flex justify-content-center align-items-center parallax-content" style="height:100vh;">
                <div class="col-12 col-md-10 col-lg-8 d-flex justify-content-center flex-column">
                    <h1 style="font-family: Aclonica, sans-serif;color: var(--bs-gray-200);">Reverse-shell-generator💀</h1>
                    <div class="row">
                        <div class="col-md-3 d-flex justify-content-start ps-sm-5 pe-sm-5"><a class="btn btn-warning" role="button" href="https://github.com/sujayadkesar/reverse-shell-generator">clone</a></div>
                    </div>
                </div>
            </div>
          <div class="parallax-placeholder" style="background-image:url(&quot;assets/img/rsg.png&quot;);"></div>
        </div>
    </div>




    <section style="padding-top: 120px;">
        <h1>Url Shortner</h1>
        <div class="container">
            <div class="row">
                <div class="col-md-4" style="width: 355px;">
                    <div class="blog-card blog-card-blog" style="width: 342.6px;">
                        <div class="blog-card-image"><a href="#"><img class="img-fluid img" src="./assets/img/url.png" /></a>
                            <div class="ripple-cont"></div>
                        </div>
                        <div class="blog-table" style="width: 343.6px;">
                            <p style="font-weight: bold;" >Clone Here</p>
                            <p><br/> <a href="https://github.com/sujayadkesar/URL-shortner">https://github.com/sujayadkesar/URL-shortner</a> <br> <p> <b>view project:</b> <br><br> <a href="https://url-shortner-s.herokuapp.com/home">https://url-shortner-s.herokuapp.com/home</a> <br> </p></p>
                            <p style="font-weight: bold;" >URL Shortner</p>
                            <p><br />Javascript based url shortner which reduces the length of the url without altering the destination address for easy usage which also uses the mono db database to store the shrinken url for that perticular session ⚙️<br /></p>
                            <hr />
                            <h4 class="blog-card-caption" style="margin: -31px 0px 8px;margin-bottom: -6px;margin-top: -26px;"></h4>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>


    <div style="padding-top: 200px;">
        <div class="parallax">
            <div class="container d-flex justify-content-center align-items-center parallax-content" style="height:100vh;">
                <div class="col-12 col-md-10 col-lg-8 d-flex justify-content-center flex-column">
                    <h1 style="font-family: Aclonica, sans-serif;color: var(--bs-gray-200);">Url Shortner ✂️</h1>
                    <div class="row">
                        <div class="col-md-3 d-flex justify-content-start ps-sm-5 pe-sm-5"><a class="btn btn-warning" role="button" href="https://url-shortner-s.herokuapp.com/home">view</a></div>
                    </div>
                </div>
            </div>
            <div class="parallax-placeholder" style="background-image:url(&quot;assets/img/urlshortner.jpeg&quot;);"></div>
        </div>
    </div>


    <section style="padding-top: 120px;">
        <h1>Reverse-shell-generator</h1>
        <div class="container">
            <div class="row">
                <div class="col-md-4" style="width: 355px;">
                    <div class="blog-card blog-card-blog" style="width: 342.6px;">
                        <div class="blog-card-image"><a href="#"><img class="img-fluid img" src="./assets/img/dbms.jpg" /></a>
                            <div class="ripple-cont"></div>
                        </div>
                        <div class="blog-table" style="width: 343.6px;">
                            <p style="font-weight: bold;" >Clone Here</p>
                            <p><br/>https://github.com/sujayadkesar/DBMS-MINI-PROJECT <br><br> </p>
                            <p><a href="https://github.com/sujayadkesar/DBMS-MINI-PROJECT"><b>View project: <br><br></b> </a></p>
                            <p style="font-weight: bold;" >DATABASE MANAGEMENT</p>
                            <p><br />Bus4U Transport Services built using mongo-db manily focused on Database management system as well as webdevelopment <br /></p>
                            <hr />
                            <h4 class="blog-card-caption" style="margin: -31px 0px 8px;margin-bottom: -6px;margin-top: -26px;"></h4>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>


    <div style="padding-top: 200px;">
        <div class="parallax">
            <div class="container d-flex justify-content-center align-items-center parallax-content" style="height:100vh;">
                <div class="col-12 col-md-10 col-lg-8 d-flex justify-content-center flex-column">
                    <h1 style="font-family: Aclonica, sans-serif;color: var(--bs-gray-200);">Database management&nbsp;</h1>
                    <div class="row">
                        <div class="col-md-3 d-flex justify-content-start ps-sm-5 pe-sm-5"><a class="btn btn-warning" role="button" href="https://github.com/sujayadkesar/DBMS-MINI-PROJECT">view</a></div>
                    </div>
                </div>
            </div>
            <div class="parallax-placeholder" style="background-image:url(&quot;assets/img/db.png&quot;);"></div>
        </div>
    </div>



    <section style="padding-top: 120px;">
        <h1>Url Shortner</h1>
        <div class="container">
            <div class="row">
                <div class="col-md-4" style="width: 355px;">
                    <div class="blog-card blog-card-blog" style="width: 342.6px;">
                        <div class="blog-card-image"><a href="#"><img class="img-fluid img" src="./assets/img/docker.png" /></a>
                            <div class="ripple-cont"></div>
                        </div>
                        <div class="blog-table" style="width: 343.6px;">
                            <p style="font-weight: bold;" >Clone Here</p>
                            <p><br/> <a href="https://github.com/sujayadkesar/pentesting-toolkit-on-docker">https://github.com/sujayadkesar/pentesting-toolkit-on-docker</a> <br> <p> <b> <a href="https://hub.docker.com/r/sujayadkesar/penetration-testing-toolkit">view project:</b></a> <br><br>  </p></p>
                            <p style="font-weight: bold;" >Penetration testing toolkit</p>
                            <p><br />A multi platform penetration testing toolkit that can be set up within a minutes with docker containers from anywhere<br /></p>
                            <hr />
                            <h4 class="blog-card-caption" style="margin: -31px 0px 8px;margin-bottom: -6px;margin-top: -26px;"></h4>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>



    <div style="padding-top: 200px; padding-bottom:300px;">
        <div class="parallax">
            <div class="container d-flex justify-content-center align-items-center parallax-content" style="height:100vh;">
                <div class="col-12 col-md-10 col-lg-8 d-flex justify-content-center flex-column">
                    <h1 style="font-family: Aclonica, sans-serif;color: var(--bs-gray-200);">Penetration testing toolkit</h1>
                    <div class="row">
                        <div class="col-md-3 d-flex justify-content-start ps-sm-5 pe-sm-5"><a class="btn btn-warning" role="button" href="https://hub.docker.com/r/sujayadkesar/penetration-testing-toolkit">Docker hub</a></div>
                    </div>
                </div>
            </div>
            <div class="parallax-placeholder" style="background-image:url(&quot;assets/img/docker.png&quot;);"></div>
        </div>
    </div>

    <footer id="footerpad">
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-lg-8 mx-auto">
                    <ul class="list-inline text-center">
                        <li class="list-inline-item"><a href="https://github.com/sujayadkesar"><span class="fa-stack fa-lg"><i class="fa fa-circle fa-stack-2x"></i><i class="fa fa-github fa-stack-1x fa-inverse"></i></span></a></li>
                        <li class="list-inline-item"><a href="https://twitter.com/SUJAY_ADKESAR"><span class="fa-stack fa-lg"><i class="fa fa-circle fa-stack-2x"></i><i class="fa fa-twitter fa-stack-1x fa-inverse"></i></span></a></li>
                        <li class="list-inline-item"><a href="https://instagram.com/sujay_adkesar"><span class="fa-stack fa-lg"><i class="fa fa-circle fa-stack-2x"></i><i class="fa fa-instagram fa-stack-1x fa-inverse"></i></span></a></li>
                        <li class="list-inline-item"><a href="https://linkedin.com/in/sujay_adkesar"><span class="fa-stack fa-lg"><i class="fa fa-circle fa-stack-2x"></i><i class="fa fa-linkedin fa-stack-1x fa-inverse"></i></span></a></li>
                    </ul>
                    <p class="copyright text-muted text-center">Web Design by SUJAY_ADKESAR</p>
                </div>
            </div>
        </div>
      </footer>

    <script src="assets/bootstrap/js/bootstrap.min.js"></script>
    <script src="assets/js/Video-Parallax-Background-v2.js"></script>
</body>

</html>