<!DOCTYPE html>
<html lang="en">

<head>

<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-9N8EN860VC"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-9N8EN860VC');
</script>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Training-Platforms</title>
    <link rel="stylesheet" type="text/css" href="assets-updated-train/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Abril+Fatface&amp;display=swap">
    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Aclonica&amp;display=swap">
    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,900">
    <link rel="stylesheet" type="text/css" href="assets-updated-train/fonts/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="assets-updated-train/css/dh-card-image-left-dark.css">
    <link rel="stylesheet" type="text/css" href="assets-updated-train/css/FOOTERCSS.css">
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css">
    <link rel="stylesheet" type="text/css" href="assets-updated-train/css/Navbar-Centered-Links-icons.css">
    <link rel="stylesheet" type="text/css" href="assets-updated-train/css/Responsive-UI-Card.css">
    <link rel="stylesheet" type="text/css" href="assets-updated-train/css/styles.css">
    <link rel="stylesheet" type="text/css" href="assets-updated-train/css/Navbar-Centered-Links-icons.css">
    
</head>

<body style="background: var(--bs-gray-100);">
    <html>
    <nav class="navbar navbar-light navbar-expand-md py-3" style="padding-bottom: 32px;">
        <div class="container"><a class="navbar-brand d-flex align-items-center" href="#"><span class="bs-icon-sm bs-icon-rounded bs-icon-primary d-flex justify-content-center align-items-center me-2 bs-icon"><svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" fill="currentColor" viewBox="0 0 16 16" class="bi bi-bezier">
                        <path fill-rule="evenodd" d="M0 10.5A1.5 1.5 0 0 1 1.5 9h1A1.5 1.5 0 0 1 4 10.5v1A1.5 1.5 0 0 1 2.5 13h-1A1.5 1.5 0 0 1 0 11.5v-1zm1.5-.5a.5.5 0 0 0-.5.5v1a.5.5 0 0 0 .5.5h1a.5.5 0 0 0 .5-.5v-1a.5.5 0 0 0-.5-.5h-1zm10.5.5A1.5 1.5 0 0 1 13.5 9h1a1.5 1.5 0 0 1 1.5 1.5v1a1.5 1.5 0 0 1-1.5 1.5h-1a1.5 1.5 0 0 1-1.5-1.5v-1zm1.5-.5a.5.5 0 0 0-.5.5v1a.5.5 0 0 0 .5.5h1a.5.5 0 0 0 .5-.5v-1a.5.5 0 0 0-.5-.5h-1zM6 4.5A1.5 1.5 0 0 1 7.5 3h1A1.5 1.5 0 0 1 10 4.5v1A1.5 1.5 0 0 1 8.5 7h-1A1.5 1.5 0 0 1 6 5.5v-1zM7.5 4a.5.5 0 0 0-.5.5v1a.5.5 0 0 0 .5.5h1a.5.5 0 0 0 .5-.5v-1a.5.5 0 0 0-.5-.5h-1z"></path>
                        <path d="M6 4.5H1.866a1 1 0 1 0 0 1h2.668A6.517 6.517 0 0 0 1.814 9H2.5c.123 0 .244.015.358.043a5.517 5.517 0 0 1 3.185-3.185A1.503 1.503 0 0 1 6 5.5v-1zm3.957 1.358A1.5 1.5 0 0 0 10 5.5v-1h4.134a1 1 0 1 1 0 1h-2.668a6.517 6.517 0 0 1 2.72 3.5H13.5c-.123 0-.243.015-.358.043a5.517 5.517 0 0 0-3.185-3.185z"></path>
                    </svg></span><span style="font-size: 13px;">sujay-adkesar</span></a><button data-bs-toggle="collapse" class="navbar-toggler" data-bs-target="#navcol-3"><span class="visually-hidden">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
            <div class="collapse navbar-collapse" id="navcol-3">
                <ul class="navbar-nav mx-auto">
                    <li class="nav-item"><a class="nav-link active" href="#train">Hands-on-Training</a></li>
                    <li class="nav-item"><a class="nav-link" href="#tutorial">Tutorial Based</a></li>
                    <li class="nav-item"></li>
                </ul><button class="btn btn-primary" type="button">Home</button>
            </div>
        </div>
    </nav>
    <h1 style="padding-bottom: 6px;padding-top: 119px;text-align: center;font-size: 32.4px;color: var(--bs-red);font-family: Aclonica, sans-serif;">Training&nbsp;<span style="color: var(--bs-gray-900);">Platforms</span></h1>
    <h1 style="font-size: 12.4px;text-align: center;font-family: Aclonica, sans-serif;padding-bottom: 100px;">A journey through Cyber-Space</h1>
    <h1 class="display-1 text-uppercase text-center text-primary border rounded-0" style="padding: 10px 0px;">Hands-on Training</h1>
    <section style="padding-top: 100px;">
        <div class="container">
            <div class="photo-card">
                <div class="photo-background" style="background: url(&quot;assets-updated-train/img/htb.jpg&quot;) center / cover no-repeat;"></div>
                <div class="photo-details">
                    <h1>Hack-The-Box</h1>
                    <p><br>Hack The Box is an online platform allowing you to test your penetration testing skill and exchange ideas and methodologies with other✨<br><br></p>
                    <div class="photo-tags">
                        <ul>
                            <li><a href="https://www.hackthebox.com">Hack-the-box</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section style="padding-top: 100px;">
        <div class="container">
            <div class="photo-card">
                <div class="photo-background" style="background: url(&quot;assets-updated-train/img/thm-final.jpg&quot;) center / cover no-repeat;"></div>
                <div class="photo-details">
                    <h1>Try-Hack-Me</h1>
                    <p><br>Try HackMe is a free online platform for learning cybersecurity, using hands-on exercises and&nbsp; labs all through your browser!!<br><br></p>
                    <div class="photo-tags">
                        <ul>
                            <li>I<a href="https://www.hackthebox.com">Try-Hack-me</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section style="padding-top: 100px;padding-bottom: 106.3px;">
        <div class="container">
            <div class="photo-card">
                <div class="photo-background" style="background: url(&quot;assets-updated-train/img/VULNHUB.jpeg&quot;) center / cover no-repeat;"></div>
                <div class="photo-details">
                    <h1>VulnHub</h1>
                    <p>VulnHub provides materials allowing anyone to gain practical hands-on experience with digital security, computer application and network administration and many more<br><br></p>
                    <div class="photo-tags">
                        <ul>
                            <li><a href="https://www.hackthebox.com">Vulnhub</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <h1 class="display-1 text-uppercase text-center text-primary border rounded-0" style="padding: 10px 0px;">Tutorial-based</h1>
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <div class="card" style="width: 18rem;border-top-left-radius: 20px;border-top-right-radius: 20px;border-bottom-right-radius: 20px;border-bottom-left-radius: 20px;box-shadow: 5px 5px 16px 2px rgba(0,0,0,0.25);margin: 14px;min-width: 280px;max-width: 300px;margin-bottom: 20px;">
                    <div style="width: 100%;height: 200px;background: url(&quot;assets-updated-train/img/edx.jpg&quot;) center / cover no-repeat;border-top-left-radius: 20px;border-top-right-radius: 20px;"></div>
                    <div class="card-body d-flex flex-column" style="height: 262px;">
                        <div>
                            <h4 style="font-family: 'Source Sans Pro', sans-serif;font-weight: 700;color: rgb(255,160,0);">Edx</h4>
                            <p style="font-family: 'Source Sans Pro', sans-serif;color: #212121;margin-top: 16px;"><br><br>edx is an American massive open online course provider created by Harvard and MIT</p>
                        </div><a class="align-self-end card-link" data-bss-hover-animate="pulse" href="https://www.edx.org/" style="padding: 4px;background: #b86868;color: rgb(255,255,255);border-radius: 17px;padding-right: 14px;padding-left: 14px;padding-bottom: 6px;font-family: 'Source Sans Pro', sans-serif;margin-top: auto;">Edx</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card" style="width: 18rem;border-top-left-radius: 20px;border-top-right-radius: 20px;border-bottom-right-radius: 20px;border-bottom-left-radius: 20px;box-shadow: 5px 5px 16px 2px rgba(0,0,0,0.25);margin: 14px;min-width: 280px;max-width: 300px;margin-bottom: 20px;">
                    <div style="width: 100%;height: 200px;background: url(&quot;assets-updated-train/img/coursera.png&quot;) center / cover no-repeat;border-top-left-radius: 20px;border-top-right-radius: 20px;"></div>
                    <div class="card-body d-flex flex-column" style="height: 262px;">
                        <div>
                            <h4 style="font-family: 'Source Sans Pro', sans-serif;font-weight: 700;color: rgb(255,160,0);">Coursera</h4>
                            <p style="font-family: 'Source Sans Pro', sans-serif;color: #212121;margin-top: 16px;">Coursera inc is a U.S. based massive open online course provider founded by Stanford University<br><br></p>
                        </div><a class="align-self-end card-link" data-bss-hover-animate="pulse" href="https://in.coursera.org/" style="padding: 4px;background: #b86868;color: rgb(255,255,255);border-radius: 17px;padding-right: 14px;padding-left: 14px;padding-bottom: 6px;font-family: 'Source Sans Pro', sans-serif;margin-top: auto;">Coursera</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card" style="width: 18rem;border-top-left-radius: 20px;border-top-right-radius: 20px;border-bottom-right-radius: 20px;border-bottom-left-radius: 20px;box-shadow: 5px 5px 16px 2px rgba(0,0,0,0.25);margin: 14px;min-width: 280px;max-width: 300px;margin-bottom: 20px;">
                    <div style="width: 100%;height: 200px;background: url(&quot;assets-updated-train/img/cybrary.png&quot;) center / contain no-repeat;border-top-left-radius: 20px;border-top-right-radius: 20px;"></div>
                    <div class="card-body d-flex flex-column" style="height: 262px;">
                        <div>
                            <h4 style="font-family: 'Source Sans Pro', sans-serif;font-weight: 700;color: rgb(255,160,0);">Cybrary</h4>
                            <p style="font-family: 'Source Sans Pro', sans-serif;color: #212121;margin-top: 16px;">Cybrary's accessible, affordable platform provides guided pathways, threat-informed training &amp; certification preparation to fully equip cybersecurity<br></p>
                        </div><a class="align-self-end card-link" data-bss-hover-animate="pulse" href="https://www.cybrary.it/" style="padding: 4px;background: #b86868;color: rgb(255,255,255);border-radius: 17px;padding-right: 14px;padding-left: 14px;padding-bottom: 6px;font-family: 'Source Sans Pro', sans-serif;margin-top: auto;">Cybrary</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <div class="card" style="width: 18rem;border-top-left-radius: 20px;border-top-right-radius: 20px;border-bottom-right-radius: 20px;border-bottom-left-radius: 20px;box-shadow: 5px 5px 16px 2px rgba(0,0,0,0.25);margin: 14px;min-width: 280px;max-width: 300px;margin-bottom: 20px;">
                    <div style="width: 100%;height: 200px;background: url(&quot;assets-updated-train/img/sansfinal.jpg&quot;) center / cover no-repeat;border-top-left-radius: 20px;border-top-right-radius: 20px;"></div>
                    <div class="card-body d-flex flex-column" style="height: 262px;">
                        <div>
                            <h4 style="font-family: 'Source Sans Pro', sans-serif;font-weight: 700;color: rgb(255,160,0);">Sans Cyberaces</h4>
                            <p style="font-family: 'Source Sans Pro', sans-serif;color: #212121;margin-top: 16px;">SANS Cyber Aces is an online course that teaches the core concepts needed to assess and protect information security systems<br></p>
                        </div><a class="align-self-end card-link" data-bss-hover-animate="pulse" href="https://www.cyberaces.org/" style="padding: 4px;background: #b86868;color: rgb(255,255,255);border-radius: 17px;padding-right: 14px;padding-left: 14px;padding-bottom: 6px;font-family: 'Source Sans Pro', sans-serif;margin-top: auto;">Cyberaces</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card" style="width: 18rem;border-top-left-radius: 20px;border-top-right-radius: 20px;border-bottom-right-radius: 20px;border-bottom-left-radius: 20px;box-shadow: 5px 5px 16px 2px rgba(0,0,0,0.25);margin: 14px;min-width: 280px;max-width: 300px;margin-bottom: 20px;">
                    <div style="width: 100%;height: 200px;background: url(&quot;assets-updated-train/img/udemy-review.png&quot;) center / cover no-repeat;border-top-left-radius: 20px;border-top-right-radius: 20px;"></div>
                    <div class="card-body d-flex flex-column" style="height: 262px;">
                        <div>
                            <h4 style="font-family: 'Source Sans Pro', sans-serif;font-weight: 700;color: rgb(255,160,0);">Udemy</h4>
                            <p style="font-family: 'Source Sans Pro', sans-serif;color: #212121;margin-top: 16px;">Udemy, Inc is a for&nbsp; profit massive open online course provider aimed at professional adults and students<br><br></p>
                        </div><a class="align-self-end card-link" data-bss-hover-animate="pulse" href="https://www.udemy.com/" style="padding: 4px;background: #b86868;color: rgb(255,255,255);border-radius: 17px;padding-right: 14px;padding-left: 14px;padding-bottom: 6px;font-family: 'Source Sans Pro', sans-serif;margin-top: auto;">Udemy</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card" style="width: 18rem;border-top-left-radius: 20px;border-top-right-radius: 20px;border-bottom-right-radius: 20px;border-bottom-left-radius: 20px;box-shadow: 5px 5px 16px 2px rgba(0,0,0,0.25);margin: 14px;min-width: 280px;max-width: 300px;margin-bottom: 20px;">
                    <div style="width: 100%;height: 200px;background: url(&quot;assets-updated-train/img/stationx.png&quot;) center / contain no-repeat;border-top-left-radius: 20px;border-top-right-radius: 20px;"></div>
                    <div class="card-body d-flex flex-column" style="height: 262px;">
                        <div>
                            <h4 style="font-family: 'Source Sans Pro', sans-serif;font-weight: 700;color: rgb(255,160,0);">Station X</h4>
                            <p style="font-family: 'Source Sans Pro', sans-serif;color: #212121;margin-top: 16px;">Station X prepares you for in-demand industry certifications with courses, virtual labs and practice tests<br></p>
                        </div><a class="align-self-end card-link" data-bss-hover-animate="pulse" href="https://www.stationx.net/" style="padding: 4px;background: #b86868;color: rgb(255,255,255);border-radius: 17px;padding-right: 14px;padding-left: 14px;padding-bottom: 6px;font-family: 'Source Sans Pro', sans-serif;margin-top: auto;">Station-X</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <div class="card" style="width: 18rem;border-top-left-radius: 20px;border-top-right-radius: 20px;border-bottom-right-radius: 20px;border-bottom-left-radius: 20px;box-shadow: 5px 5px 16px 2px rgba(0,0,0,0.25);margin: 14px;min-width: 280px;max-width: 300px;margin-bottom: 20px;">
                    <div style="width: 100%;height: 200px;background: url(&quot;assets-updated-train/img/offsec.png&quot;) center / cover no-repeat;border-top-left-radius: 20px;border-top-right-radius: 20px;"></div>
                    <div class="card-body d-flex flex-column" style="height: 262px;">
                        <div>
                            <h4 style="font-family: 'Source Sans Pro', sans-serif;font-weight: 700;color: rgb(255,160,0);">Offfensive Security</h4>
                            <p style="font-family: 'Source Sans Pro', sans-serif;color: #212121;margin-top: 16px;"><br><br>Offensive Security is an American international company working in information security, penetration testing and digital forensics<br></p>
                        </div><a class="align-self-end card-link" data-bss-hover-animate="pulse" href="https://www.offensive-security.com/" style="padding: 4px;background: #b86868;color: rgb(255,255,255);border-radius: 17px;padding-right: 14px;padding-left: 14px;padding-bottom: 6px;font-family: 'Source Sans Pro', sans-serif;margin-top: auto;">Off-sec</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card" style="width: 18rem;border-top-left-radius: 20px;border-top-right-radius: 20px;border-bottom-right-radius: 20px;border-bottom-left-radius: 20px;box-shadow: 5px 5px 16px 2px rgba(0,0,0,0.25);margin: 14px;min-width: 280px;max-width: 300px;margin-bottom: 20px;">
                    <div style="width: 100%;height: 200px;background: url(&quot;assets-updated-train/img/spin.png&quot;) center / cover no-repeat;border-top-left-radius: 20px;border-top-right-radius: 20px;"></div>
                    <div class="card-body d-flex flex-column" style="height: 262px;">
                        <div>
                            <h4 style="font-family: 'Source Sans Pro', sans-serif;font-weight: 700;color: rgb(255,160,0);">Spin-The-Hack</h4>
                            <p style="font-family: 'Source Sans Pro', sans-serif;color: #212121;margin-top: 16px;"><br>Spin The Hack is one of the leading indian educational enterprise aimed at helping people learn and understand cybersecurity in better and simplest way<br></p>
                        </div><a class="align-self-end card-link" data-bss-hover-animate="pulse" href="https://spinthehack.in/" style="padding: 4px;background: #b86868;color: rgb(255,255,255);border-radius: 17px;padding-right: 14px;padding-left: 14px;padding-bottom: 6px;font-family: 'Source Sans Pro', sans-serif;margin-top: auto;">Spin-the-hack</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card" style="width: 18rem;border-top-left-radius: 20px;border-top-right-radius: 20px;border-bottom-right-radius: 20px;border-bottom-left-radius: 20px;box-shadow: 5px 5px 16px 2px rgba(0,0,0,0.25);margin: 14px;min-width: 280px;max-width: 300px;margin-bottom: 20px;">
                    <div style="width: 100%;height: 200px;background: url(&quot;assets-updated-train/img/infosec-institute.png&quot;) center / cover no-repeat;border-top-left-radius: 20px;border-top-right-radius: 20px;"></div>
                    <div class="card-body d-flex flex-column" style="height: 262px;">
                        <div>
                            <h4 style="font-family: 'Source Sans Pro', sans-serif;font-weight: 700;color: rgb(255,160,0);">infosec</h4>
                            <p style="font-family: 'Source Sans Pro', sans-serif;color: #212121;margin-top: 16px;">Infosec is a technology training company. It provides certification based training courses for security professional</p>
                        </div><a class="align-self-end card-link" data-bss-hover-animate="pulse" href="https://www.infosectrain.com/" style="padding: 4px;background: #b86868;color: rgb(255,255,255);border-radius: 17px;padding-right: 14px;padding-left: 14px;padding-bottom: 6px;font-family: 'Source Sans Pro', sans-serif;margin-top: auto;">Infosec</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <footer id="footerpad">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-lg-8 mx-auto">
                <ul class="list-inline text-center">
                    <li class="list-inline-item"><a href="https://github.com/sujayadkesar"><span class="fa-stack fa-lg"><i class="fa fa-circle fa-stack-2x"></i><i class="fa fa-github fa-stack-1x fa-inverse"></i></span></a></li>
                    <li class="list-inline-item"><a href="https://twitter.com/SUJAY_ADKESAR"><span class="fa-stack fa-lg"><i class="fa fa-circle fa-stack-2x"></i><i class="fa fa-twitter fa-stack-1x fa-inverse"></i></span></a></li>
                    <li class="list-inline-item"><a href="https://instagram.com/sujay_adkesar"><span class="fa-stack fa-lg"><i class="fa fa-circle fa-stack-2x"></i><i class="fa fa-instagram fa-stack-1x fa-inverse"></i></span></a></li>
                    <li class="list-inline-item"><a href="https://linkedin.com/in/sujay_adkesar"><span class="fa-stack fa-lg"><i class="fa fa-circle fa-stack-2x"></i><i class="fa fa-linkedin fa-stack-1x fa-inverse"></i></span></a></li>
                </ul>
                <p class="copyright text-muted text-center">Web Design by SUJAY_ADKESAR</p>
            </div>
        </div>
    </div>
    </footer>





    <script src="assets-updated-train/bootstrap/js/bootstrap.min.js"></script>
    <script src="assets-updated-train/js/bs-init.js"></script>
</body>

</html>
